@import url('line-awesome/dist/line-awesome/css/line-awesome.min.css');


:root {
      --lumo-primary-color: rgb(75, 91, 214);
      --lumo-primary-color-50pct: rgba(75, 91, 214, 0.5);
      --lumo-primary-color-10pct: rgba(75, 91, 214, 0.1);
      --lumo-primary-text-color: rgb(65, 79, 188);

      --lumo-secondary-color: #0A8BAE;
      --lumo-secondary-color-50pct: #E8F5F7;
      --lumo-secondary-text-color: #097492;

      --lumo-tertiary-color: #DF9135;
      --lumo-tertiary-text-color: #BC8341;

      --lumo-clickable-cursor: pointer;
}



.ui-bug-priority {
      content: ' ';
      background-color: var(--lumo-secondary-color);
      line-height: var(--lumo-line-height-s);
      height: 22px;
      border-radius: 5px;
      margin-right: 2px;
      display: inline-block;
      width: 5px;
}


.ui-bug-comment {
      background-color: var(--lumo-base-color);
      padding: var(--lumo-space-m);
      box-shadow: var(--lumo-box-shadow-s);
      border-radius: 5px;
      border: 1px solid var(--lumo-contrast-20pct);
      height: auto;
}

.ui-full-project-name {
      background-color: var(--lumo-secondary-color);
      color: var(--lumo-base-color);
      padding: var(--lumo-space-s) var(--lumo-space-l);
      align-items: center;
      display: flex;
      font-weight: 500;
}

.ui-full-arrow {
      border-top: var(--lumo-space-l) solid transparent;
      border-bottom: var(--lumo-space-l) solid transparent;
      border-left: var(--lumo-space-l) solid var(--lumo-secondary-color);
      width: 0px;
      height: 0px;
}

.ui-comment-scroller {
      display: flex;
      flex-grow: 1;
      height: 100px;
}