@import url('./main-layout.css');
@import url('line-awesome/dist/line-awesome/css/line-awesome.min.css');    


:root {
      --lumo-primary-color: rgb(75, 91, 214);
      --lumo-primary-color-50pct: rgba(75, 91, 214, 0.5);
      --lumo-primary-color-10pct: rgba(75, 91, 214, 0.1);
      --lumo-primary-text-color: rgb(65, 79, 188);
      
      --lumo-secondary-color: #0A8BAE;
      --lumo-secondary-text-color: #097492;
      
      --lumo-tertiary-color: #DF9135;
      --lumo-tertiary-text-color: #BC8341;
}
